{{ block "index" .}}
<!DOCTYPE html>
<html lang='en'>
    <script src='https://unpkg.com/htmx.org@2.0.2' integrity='sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ' crossorigin='anonymous'></script>
    <script src='https://unpkg.com/htmx-ext-ws@2.0.1/ws.js'></script>
    <link rel="stylesheet" href="/css/index.css">
    <body>
        Hello
        <br>
        {{ template "game-err" .}}
        {{ template "disconnected-game" .}}
    </body>
</html>
{{ end }}

{{ block "connect" .}}
<button
    id='connect'
    hx-trigger='click'
    hx-swap='outerHTML'
    hx-get='/connect'
    >
    Connect
</button>
{{ end }}

{{ block "disconnect" .}}
<button id='connect' hx-trigger='mousedown' hx-vals='{"type": 1}' ws-send >
    Disconnect
</button>
{{ end }}

{{ block "disconnected-game" .}}
<div id='game'>
    {{ template "connect" .}}
</div>
{{ end }}

{{ block "connected-game" .}}
<div id='game' hx-ext='ws' ws-connect='/game' hx-swap-oob='true'>
    {{ template "counter" .}}
    {{ template "disconnect" .}}
    {{ template "boxes" .}}
    <br>
</div>
{{ end }}

{{ block "boxes" . }}
<div id='game-grid' class='grid-3-3'>
    {{ range .Boxes }}
        {{ template "box" . }}
    {{ end }}
</div>
{{ end }}

{{ block "box" .}}
<div id='g{{.Id}}' class='box' {{if .Player }}{{else}}hx-trigger='mousedown' hx-vals='{"type": 2, "box": {{.Id}}, "player": 1}' ws-send{{end}} >
    {{.Player}}
</div>
{{ end }}

{{ block "counter" .}}
<div id='counter' hx-swap-oob='true'>
    {{.Count}}
</div>
{{ end }}

{{ block "game-err" .}}
<div id='game-err' hx-swap-oob='true'>
    {{ .Error }}
</div>
{{ end }}
